
@import url('https://fonts.googleapis.com/css2?family=Clash+Display&family=General+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Futura+PT:wght@400;700&display=swap');
$primary-text-title-color: theme('colors.gray.2000');
$primary-text-color: theme('colors.gray.2000');
// Define font families
$futura-font-family: 'Futura PT', 'Helvetica Neue', Arial, sans-serif;
$h-font-family: 'Clash Display', 'Times New Roman', Times, serif;
$p-font-family: 'General Sans', 'Arial', sans-serif;
@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    --color-primary: 255 115 179;

    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --color-primary: 198deg 93% 60%;

    /* For rgba(255, 115, 179, <alpha-value>) */
    --color-primary: 255, 115, 179;
  }
}
// .primary-p{
//   @apply 
// }
h1, h2, h3, h4, h5, h6 {
  font-family: $h-font-family;
  color: $primary-text-title-color;
  font-weight: bold;
}

p {
  font-family: $p-font-family;
  color: $primary-text-color;
  font-size:14px;
}

div {
  font-family: $futura-font-family;
  font-weight: 400;
}


// CHECKBOX STYLE
.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #CBD5E0;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.custom-checkbox:checked {
  background-color: #4A5568;
}

/* Styles to hide the default checkbox visually */
.custom-checkbox::-ms-check,
.custom-checkbox::-ms-expand {
  display: none;
}

.custom-checkbox::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: 50% 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.custom-checkbox:checked::before {
  opacity: 1;
}
@tailwind base;

@tailwind components;

@tailwind utilities;
